@model ReservationManagementApp.Models.Dto.EmployeeDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employees</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname2" class="control-label"></label>
                <input asp-for="Surname2" class="form-control" />
                <span asp-validation-for="Surname2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCard" class="control-label"></label>
                <input asp-for="IdCard" class="form-control" />
                <span asp-validation-for="IdCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <a asp-controller="ServicesEmployees" asp-action="Index" asp-route-idEmployee=@Model.Id>Services Management</a>
    </div>
    <div class="col-md-4">
        <a asp-controller="EmployeesShifts" asp-action="Index" asp-route-idEmployee=@Model.Id>Shifts Management</a>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

