@model ReservationManagementApp.Models.Dto.UserDto

@{
    ViewData["Title"] = "Register";
}

<h2>@ViewBag.Title.</h2>
<h4>Create a new Account.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname2" class="control-label"></label>
                <input asp-for="Surname2" class="form-control" />
                <span asp-validation-for="Surname2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCard" class="control-label"></label>
                <input asp-for="IdCard" class="form-control" />
                <span asp-validation-for="IdCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" type="email" class="form-control" onchange="hideMessageError()" />
                <span asp-validation-for="Email" class="text-danger"></span>
                <div id="messageError" class="text-danger">
                    @if (ViewData.ModelState["ErrorEmail"] != null)
                    {
                        @Html.ValidationMessage("ErrorEmail")
                        <br />
                    }
                </div>

            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" type="date" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        @if (ViewBag.Error != null)
        {
            <h3 style="color:red">@ViewBag.Error</h3>
        }
    </div>
</div>

<script>
    function hideMessageError() {
        document.getElementById('messageError').style.visibility = "hidden";
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
