@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    UPM<br />
    José Miguel Salmerón<br />
    <abbr title="Telephone">Telephone:</abbr>
    657315469
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:digajjj21@gmail.com">digajjj21@gmail.com</a><br />
</address>

<p> <a asp-area="" asp-controller="Home" asp-action="Index">Back to home</a></p>