@{
    ViewData["Title"] = "Abstract";
}
<h1>@ViewData["Title"]</h1>

<p>
    Development of a simple web application with a database using different technologies included in the .NET Framework. The web application will be based on Functions as a Service(FaaS). Subsequently, the advantages of this type of application compared to others will be analyzed.
    <br />
    <br />
    In order to show the advantages of each type of application, the evolution will be made from monolithic applications to applications based on Faas, taking into account the transition through different architectures.
    <br />
    <br />
    For the purpose of assessing the evolution of the applications, we will build the following applications:
    <br />
    <br />
    •	Monolithic
    <br />
    <br />
    •	Three layers
    <br />
    <br />
    •	Microservices
    <br />
    <br />
    •	FaaS
    <br />
    <br />
    With the modelling of these four applications, the comparison among these architectures will be possible.

</p>
<p> <a asp-area="" asp-controller="Home" asp-action="Index">Back to home</a></p>